.container {
    position: relative;
    border: black 2px solid;
    width: 200px;
    height: 200px;
    margin-left: 300px;
    margin-top: 150px;
    font-size: 30px;
    overflow: hidden;
    overflow-wrap: anywhere;
}

.score {
        position: absolute;
        margin-left: 299.5px;
        margin-top: -50px;
        width: 200px;
        height: 35px;
        font-size: 18px;
        border: black 3px dotted;
        text-align: center;
}

.scoreCounter {
                position: relative;
                bottom: 12px;
}

.info {
    position: absolute;
    border: black 3px dotted;
    width: 250px;
    height: 200px;
    margin-left: 510px;
    font-size:20px;
}

.description {         
            text-align: right;
            position: absolute;
            width: 180px;
            margin-left: 110px;
            margin-top: -15px;
            font-size: 20px;
}

.title {
    position: absolute;
    margin-top: -130px;
    margin-left: 300px;
}

.mainButtons {
    margin-left: 300px;
}
.extra {
    margin-left: 300px;
    margin-top: 10px;
}
#scoreListButton {
    width: 204px;
}
#start, #pause {
    width: 100px;
    margin-top: 10px;
}

.highestScore{
    margin-top: 0px;
}
.scores{
    margin-top: -15px;
}
li{
    padding: 10px;
}